#TABLEAU Login Credentials
TABLEAU_SERVER=
TABLEAU_USERNAME=
TABLEAU_PASSWORD=
TABLEAU_PAT_NAME=
TABLEAU_PAT_SECRET=
TABLEAU_SITE_CONTENTURL=

#Tableau View IDs
TABLEAU_RMA_VIEW_ID =
TABLEAU_SHIPMENT_VIEW_ID =
TABLEAU_PRODUCT_VIEW_ID =

# Salesforce instance URL
SF_INSTANCE=

# Salesforce login credentials
SF_USERNAME=
SF_PASSWORD=
SF_TOKEN= 

#Worbook Path
WB_PATH=

#Cycle Time
CYCLE_INTERVAL_SECONDS=3600